<div class="app-container">
  <aside class="sidebar">
    <div class="logo">
      <img src="images/siglogo.png" alt="Logo">
    </div>
    <nav class="sidebar-nav">
      <a href="#" class="active">หน้าแรก</a>
      <a href="#">เกี่ยวกับเรา</a>
      <a href="#">แบบฟอร์มคำร้อง</a>
    </nav>
  </aside>

  <div class="main-content">
    <header class="top-navbar">
      <nav class="top-nav">
        <ul>

          <li class="dropdown">
            <a href="#">สำหรับผู้เรียน ▾</a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="#">ชั้นนายพัน เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="">รุ่นที่ 63</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">ชั้นนายร้อย เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 70</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">นายสิบอาวุโส (เร่งรัด) <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 10</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">นายสิบชั้นต้น (เร่งรัด) <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 7</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 10</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">นนส.ทบ. เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 29/68</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">ช่างอิเล็กทรอนิกส์ <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 23</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">พนักงานวิทยุถ่ายทอดฯ <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 40</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#">สำหรับครู-อาจารย์ ▾</a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a routerLink="#">ชั้นนายพัน เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 63</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">ชั้นนายร้อย เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 69</a></li>
                  <li><a routerLink="#">รุ่นที่ 70</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">นายสิบอาวุโส (เร่งรัด) <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 10</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">นายสิบชั้นต้น (เร่งรัด) <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 7</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">ช่างอิเล็กทรอนิกส์ <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 23</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">นนส.ทบ. เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 29/68</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">ช่างอิเล็กทรอนิกส์ <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 40</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#">สำหรับคณะกำกับหลักสูตร ▾</a>
            <ul class="dropdown-menu">
              <li class="dropdown-submenu">
                <a href="#">ชั้นนายพัน เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 63</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">ชั้นนายร้อย เหล่า ส.<span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a href="#">รุ่นที่ 69</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">ชั้นนายสิบอาวุโส (เร่งรัด)<span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 10</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">ชั้นนายสิบชั้นต้น (เร่งรัด)<span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 7</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">ช่างอิเล็กทรอนิกส์<span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 23</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">นนส.ทบ. เหล่า ส.<span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 29/68</a></li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#">พนักงานวิทยุถ่ายทอดฯ<span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 40</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#">แบบประเมินติดตามผู้สำเร็จฯ ▾</a>

            <ul class="dropdown-menu">

              <li class="dropdown-submenu">
                <a href="#">นายสิบอาวุโส (เร่งรัด) <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 8</a></li>
                  <li><a routerLink="#">ผ่านสื่อฯ รุ่นที่ 9</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">ช่างอิเล็กทรอนิกส์ <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 22</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">นนส.ทบ. เหล่า ส. <span class="arrow">❯</span></a>
                <ul class="submenu-side">
                  <li><a routerLink="#">รุ่นที่ 28/67</a></li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#">สรุปผลการฝึกอบรม ▾</a>
            <ul class="dropdown-menu">
              <li><a routerLink="#">ชั้นนายพัน</a>
              <li><a routerLink="#">นายสิบอาวุโส</a>
              <li><a routerLink="#">นายสิบชั้นต้น</a>
              <li><a routerLink="#">ช่างอิเล็กทรอนิกส์</a>
              <li><a routerLink="#">นักเรียนนายสิบ เหล่า ส.</a>

              </li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#">สรุปผลการประเมินฯ ▾</a>
            <ul class="dropdown-menu">
              <li><a routerLink="#">ชั้นนายพัน</a>
              <li><a routerLink="#">ชั้นนายร้อย</a>
              <li><a routerLink="#">ชั้นนายสิบอาวุโส (เร่งรัด)</a>
              <li><a routerLink="#">ชั้นนายสิบชั้นต้น (เร่งรัด)</a>
              <li><a routerLink="#">ช่างอิเล็กทรอนิกส์</a>
              <li><a routerLink="#">นนส.ทบ.</a>

            </ul>
          </li>

        </ul>
      </nav>
    </header>

    <main class="content-body">
    </main>
  </div>
</div>